@import "../../style.scss";

footer{
    height: 100px;    
    position: static;
    bottom: 0;
    
    .icons-footer{
        display: flex;
        gap: 20px;
        justify-content: center;
        
        a{
            display: flex;
            justify-content: center;
        }
    }
}